.bottom {
  position: fixed;
  bottom:0;
  right:0;
  text-align:left;
  padding-right:50px;
  padding-bottom:40px;
}

h1 {
  font-family:'Arial', monospace;
  font-size: 14px;
  font-weight: 100;
  text-align:left;
  color: #000;
  background-color:#fff;
}

h2 {
  font-family:'Arial', monospace;
  font-size: 8px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  color: #fff;
  margin-top:-2px;
  text-transform:uppercase;
}

p {
  font-family:'IBM Plex Mono', monospace;
  font-size: 10px;
  font-weight: 300;
  color: #f0f0f0;
}

.slug {
  color:#0000FF;
}

textarea {
	width: 100%;
}
